In [ ]:
#  Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, 
# income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For 
# example, if your categorical variable is age groups and quantitative variable is income, then provide 
# summary statistics of income grouped by the age groups. Create a list that contains a numeric value for 
# each response to the categoricalvariable

# 2. Write a Python program to display some basic statistical details like percentile, mean, standard 
# deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-verginica’ ofiris.csv dataset. 
# Provide the codes with outputs and explain everything that you do in this step

In [ ]:
# part 1 create using choose 
# use grpby and mean median mode min max and describe

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'pract3.csv')
df.head

<bound method NDFrame.head of    age_group  income
0      51-70     149
1      31-50     351
2      51-70     632
3      18-30     355
4      51-70     105
5      18-30     506
6      31-50     722
7      51-70     481
8      31-50     578
9      51-70     198
10     31-50     336
11     18-30     505
12     18-30     260
13     31-50     579
14     18-30     683
15     51-70     546
16     31-50     195
17     31-50     597
18     18-30     202
19     31-50     177
20     18-30     258
21     31-50     626
22     18-30     234
23     31-50      62
24     31-50     512
25     51-70      43
26     51-70     499
27     31-50     634
28     51-70     175
29     18-30     378>

In [17]:
df.age_group.unique() #returns unique age grps

# aggregate functions
df.groupby(df.age_group).min()
df.groupby(df.age_group).max()
df.groupby(df.age_group).mean()
df.groupby(df.age_group).median()
df.groupby(df.age_group).std()
df.groupby(df.age_group).describe()

          income
           count        mean         std    min     25%    50%     75%    max
age_group
18-30        9.0  375.666667  160.489096  202.0  258.00  355.0  505.00  683.0
31-50       12.0  447.416667  215.345160   62.0  300.75  545.0  604.25  722.0
51-70        9.0  314.222222  221.975662   43.0  149.00  198.0  499.00  632.0

In [5]:
# part2
from sklearn import datasets

data = datasets.load_iris()
df = pd.DataFrame(data.data,columns=data.feature_names)
df['species']=pd.Series(data.target)
df.head()
df.groupby(df.species).count()
df.groupby(df.species)['sepal length (cm)'].describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [3]:
import pandas as pd
df1 = pd.read_csv(r'Iris.csv')
df1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
import pandas as pd

# Create a sample dataset
data = pd.DataFrame({
    'Age': [25, 30, 35, 40, 45, 25, 30, 35, 40, 45],
    'Income': [50000, 60000, 70000, 80000, 90000, 55000, 65000, 75000, 85000, 95000],
    'Category': ['A', 'A', 'A', 'B', 'B', 'A', 'B', 'B', 'A', 'B']
})

# Group the data by 'Category' and compute summary statistics for 'Income'
summary_stats = data.groupby('Category')['Income'].describe()

# Print the summary statistics
print(summary_stats)

          count     mean           std      min      25%      50%      75%  \
Category
A           5.0  64000.0  13874.436926  50000.0  55000.0  60000.0  70000.0
B           5.0  81000.0  11937.336386  65000.0  75000.0  80000.0  90000.0

              max
Category
A         85000.0
B         95000.0

In [15]:
import pandas as pd

# Read the Iris dataset into a dataframe
data = pd.read_csv('Iris.csv')

# Group the data by 'species' column
grouped_data = data.groupby('Species')

# Compute the basic statistical details for each species
species_stats = grouped_data.describe()

# Print the statistical details for 'Iris-setosa', 'Iris-versicolor', and 'Iris-virginica'
print("Iris-setosa:")
print(species_stats.loc['Iris-setosa'])
print()

print("Iris-versicolor:")
print(species_stats.loc['Iris-versicolor'])
print()

print("Iris-virginica:")
print(species_stats.loc['Iris-virginica'])

Iris-setosa:
Id             count    50.000000
               mean     25.500000
               std      14.577380
               min       1.000000
               25%      13.250000
               50%      25.500000
               75%      37.750000
               max      50.000000
SepalLengthCm  count    50.000000
               mean      5.006000
               std       0.352490
               min       4.300000
               25%       4.800000
               50%       5.000000
               75%       5.200000
               max       5.800000
SepalWidthCm   count    50.000000
               mean      3.418000
               std       0.381024
               min       2.300000
               25%       3.125000
               50%       3.400000
               75%       3.675000
               max       4.400000
PetalLengthCm  count    50.000000
               mean      1.464000
               std       0.173511
               min       1.000000
               25%       1.400000
               50%       1.500000
               75%       1.575000
               max       1.900000
PetalWidthCm   count    50.000000
               mean      0.244000
               std       0.107210
               min       0.100000
               25%       0.200000
               50%       0.200000
               75%       0.300000
               max       0.600000
Name: Iris-setosa, dtype: float64

Iris-versicolor:
Id             count     50.000000
               mean      75.500000
               std       14.577380
               min       51.000000
               25%       63.250000
               50%       75.500000
               75%       87.750000
               max      100.000000
SepalLengthCm  count     50.000000
               mean       5.936000
               std        0.516171
               min        4.900000
               25%        5.600000
               50%        5.900000
               75%        6.300000
               max        7.000000
SepalWidthCm   count     50.000000
               mean       2.770000
               std        0.313798
               min        2.000000
               25%        2.525000
               50%        2.800000
               75%        3.000000
               max        3.400000
PetalLengthCm  count     50.000000
               mean       4.260000
               std        0.469911
               min        3.000000
               25%        4.000000
               50%        4.350000
               75%        4.600000
               max        5.100000
PetalWidthCm   count     50.000000
               mean       1.326000
               std        0.197753
               min        1.000000
               25%        1.200000
               50%        1.300000
               75%        1.500000
               max        1.800000
Name: Iris-versicolor, dtype: float64

Iris-virginica:
Id             count     50.000000
               mean     125.500000
               std       14.577380
               min      101.000000
               25%      113.250000
               50%      125.500000
               75%      137.750000
               max      150.000000
SepalLengthCm  count     50.000000
               mean       6.588000
               std        0.635880
               min        4.900000
               25%        6.225000
               50%        6.500000
               75%        6.900000
               max        7.900000
SepalWidthCm   count     50.000000
               mean       2.974000
               std        0.322497
               min        2.200000
               25%        2.800000
               50%        3.000000
               75%        3.175000
               max        3.800000
PetalLengthCm  count     50.000000
               mean       5.552000
               std        0.551895
               min        4.500000
               25%        5.100000
               50%        5.550000
               75%        5.875000
               max        6.900000
PetalWidthCm   count     50.000000
               mean       2.026000
               std        0.274650
               min        1.400000
               25%        1.800000
               50%        2.000000
               75%        2.300000
               max        2.500000
Name: Iris-virginica, dtype: float64